<div class = "row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>About Weird Pokemon Wiki</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class = "row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p>The Weird Pokemon Wiki is part of a General Assembly (GA) class to create 
        a simple Wiki app based on Ruby on Rails. The development is performed on 
        Cloud9 IDE and hosted on Heroku. Styling is via Bootstrap.</p>
        
        <p>Happy Exploring!</p>
        
        <center><%= image_tag "slowking_l.png" %></center>
        
       
  </div>
  <div class="col-sm-2"></div>
</div>
