<div class = "row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>Weird Pokemon Wiki: FAQ</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class = "row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <br />
        
        <strong><p>Why did you create this wiki?</p></strong>
        <p>I was brainstorming some ideas on a wiki and started off doing one on hairstyles.
        That idea quickly fizzled away with a lack of interesting content. Another classmate had 
        done a Pokemon game previously and so, I decided to pivot on his idea.</p>
        
         <br />
         
        <strong><p>Why do the weird Pokemon exist?</p></strong>
        <p>Intesting question. I honestly don't know the answer. The creative 'product' people 
        must have been rather bored at work and decided to come up with some really wacky Pokemon with
        really weird names.</p>
        <p>These weird Pokemon have really weird abilities and add to the comic effect in the cartoons. 
        I guess it keeps the drama light and to allow audiences to have a laugh - a celebration of diversity!</p>
        
        <center><%= image_tag "jynx_l.png" %></center>
        
  </div>
  <div class="col-sm-2"></div>
</div>
