
<div class = "row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1>Weird Pokemon Wiki</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class = "row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p>Welcome to Weird Pokemon Wiki, where the really weird/interesting/misfit Pokemons hang out!</p>
        
        <center><%= image_tag "slowbro_s.png" %></center>
        
        <p>You could say that this is a mini-fan site for the various 'loser' Pokemon that are not known 
        for their cuteness, fighting abilities or celebrity. They are often lame sidekicks and largely 
        featured in the cartoons for comic effect or drama. Think <strong>EPIC FAIL!</strong></p>
        
        <center><%= image_tag "lickitung_s.png" %></center>


        <p>Pokemon battles involving these weird Pokemon are often one-sided affairs, unless through some 
        funny loophole, the lesser known abilities of these weird Pokemon shine through. It gets even more 
        interesting when both are weird Pokemon. It's just hilarious to watch them 'battle'.</p>
        
        <center><%= image_tag "drowzee_s.png" %></center>
  </div>
  <div class="col-sm-2"></div>
</div>
